In [1]:
import yahoo_fin as yf
from yahoo_fin.stock_info import get_data
import time
import datetime
import pandas as pd
from yahoo_fin import stock_info as si

import tensorflow as tf 
import numpy as np
from tensorflow.keras import layers

import concurrent.futures

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# getting data

things we did to clean data:

1. shamelessly copy:
https://levelup.gitconnected.com/how-to-get-all-stock-symbols-a73925c16a1b

2. we removed the tickers with $

3. we added exception handeling that tries similer strings to the input (note that this is not implemented on the set itself but when fetching, leading to multiple requsts and potentialy to errors)
4.  we just drop exceptions that are found when getting the data from online  (these are diffrent every day)

# how are we keeping consistency? 
since the avilble stocks may change depending on the source of the data some extra steps need to be done in order to
alow saves to work seemlesly 


basic plan:

1. clean the data as much as possible 

2. save the embedings weights with their ticker string

3. backup everything on git to alow us to fix it

In [2]:
df1 = pd.DataFrame( si.tickers_sp500() )
df2 = pd.DataFrame( si.tickers_nasdaq() )
df3 = pd.DataFrame( si.tickers_dow() )
df4 = pd.DataFrame( si.tickers_other() )

sym1 = set( symbol for symbol in df1[0].values.tolist() )
sym2 = set( symbol for symbol in df2[0].values.tolist() )
sym3 = set( symbol for symbol in df3[0].values.tolist() )
sym4 = set( symbol for symbol in df4[0].values.tolist() )

symbols = set.union( sym1, sym2, sym3, sym4 )
del(sym1, sym2, sym3, sym4,df1, df2, df3, df4)

In [3]:
my_list = ['W', 'R', 'P', 'Q']
del_set = set()
sav_set = set()

for symbol in symbols:
    if (len( symbol ) > 4 and symbol[-1] in my_list or "$" in symbol):
        del_set.add( symbol )
    else:
        sav_set.add( symbol )
sav_set.discard("") 

ticker_list=list(sav_set)

print( f'Removed {len( del_set )} unqualified stock symbols...' )
print( f'There are {len( sav_set )} qualified stock symbols...' )

Removed 1584 unqualified stock symbols...
There are 10628 qualified stock symbols...

In [4]:
start='01/01/2020' 
end='09/14/2022'

In [5]:
import concurrent.futures 

def get_seiries(ticker,start,end,entry="adjclose"):
    try:
        raw = get_data(ticker.split(".")[0], start_date=start, end_date=end)[entry]
    except: 
        try:
            raw = get_data(ticker.replace(".","-"), start_date=start, end_date=end)[entry]
        except:
            raw = get_data(ticker[0:4], start_date=start, end_date=end)[entry]
    return raw/raw[0]

def get_df(l,start,end,entry="adjclose"):
    with concurrent.futures.ThreadPoolExecutor() as executor:
        x=[executor.submit(lambda x: get_seiries(x,start,end,entry=entry),name)for name in l]
        x=[a.result() for a in x]
    for i,c in enumerate(x):
        c.name=l[i]
    return pd.DataFrame(x).transpose()

def tester_func(name,start=start,end=end,entry="adjclose"):
    try:
        c= get_seiries(name,start,end,entry)
        c.name=name
        return (True,c)
    except:
        return (False,name)

In [6]:
mini=ticker_list
errors=[]
data=[]
c=0
x=list(range(len(mini)))
with concurrent.futures.ThreadPoolExecutor() as executor:
    for i in range(len(mini)):
        x[i]=executor.submit(tester_func,mini[i])
    
    print("thread setup complete")
    
    for i in range(len(mini)):
        if(i%100==0):
            print(i)
        r=x[i].result()
        if (r[0]): 
            data.append(r[1])
        else:
            errors.append(r[1])
            c+=1
            print(f"error number {c}: name={errors[-1]}")

print("done")

thread setup complete
0
100
200
300
error number 1: name=KDIV
400
500
600
700
error number 2: name=OAIM
800
error number 3: name=CTEST.O
error number 4: name=EAI
900
1000
1100
1200
1300
1400
1500
error number 5: name=ZBZX
1600
error number 6: name=CTEST.E
1700
error number 7: name=ZJZZT
error number 8: name=XTWY
1800
error number 9: name=ZXIET
error number 10: name=ATEST.B
1900
2000
error number 11: name=RCA
2100
error number 12: name=ZVZZT
error number 13: name=LNKB
2200
2300
2400
2500
2600
error number 14: name=CBX
error number 15: name=GGLS
error number 16: name=ATEST
2700
error number 17: name=IBO
2800
error number 18: name=ZBZZT
2900
error number 19: name=ZAZZT
3000
error number 20: name=ZCZZT
3100
3200
3300
3400
error number 21: name=ATEST.A
3500
3600
3700
error number 22: name=ZEXIT
3800
3900
4000
error number 23: name=DHCNL
4100
error number 24: name=ZXZZT
4200
error number 25: name=CBO
4300
error number 26: name=IBIT
4400
error number 27: name=ZXYZ.A
4500
4600
error number 28: name=XTRE
4700
error number 29: name=XTEN
error number 30: name=ZVZZC
4800
error number 31: name=CTEST.V
error number 32: name=CTEST.G
4900
5000
5100
error number 33: name=ZWZZT
5200
error number 34: name=NXL
5300
5400
5500
5600
5700
5800
5900
error number 35: name=XHLF
6000
6100
6200
error number 36: name=ZVV
6300
6400
error number 37: name=FOXO
6500
error number 38: name=ATEST.C
error number 39: name=XFIV
6600
error number 40: name=CTEST
6700
6800
6900
7000
error number 41: name=XTWO
7100
error number 42: name=THRD
7200
error number 43: name=OAEM
7300
7400
7500
error number 44: name=TAFI
7600
error number 45: name=IGZ
7700
7800
error number 46: name=CTEST.S
7900
error number 47: name=STRV
8000
error number 48: name=SFB
8100
8200
8300
8400
error number 49: name=CRBG
error number 50: name=GRP.U
8500
8600
8700
error number 51: name=YEAR
8800
error number 52: name=ZIEXT
8900
9000
error number 53: name=DEFI
9100
error number 54: name=XSVN
error number 55: name=CTEST.L
9200
error number 56: name=XONE
9300
error number 57: name=EMP
9400
9500
9600
9700
9800
error number 58: name=ZTEST
9900
10000
10100
10200
10300
error number 59: name=AMPX
10400
10500
10600
done

In [7]:
data_df=pd.DataFrame(data).transpose()
data_df

,GRES,ONTO,NOGN,COWNL,SIZE,HEPS,DXJ,FRBN,REX,PR,...,GOOD,IGC,OPFI,JPS,CNDT,APYX,KRBN,GCV,FARM,WBIG
2020-01-02,1.000000,1.000000,NaN,1.000000,1.000000,NaN,1.000000,NaN,1.000000,1.000000,...,1.000000,1.000000,NaN,1.000000,1.000000,1.000000,NaN,1.000000,1.000000,1.000000
2020-01-03,0.995231,0.985957,NaN,1.000731,0.995295,NaN,0.982692,NaN,1.003268,1.021322,...,1.004701,1.000000,NaN,1.004004,0.987603,0.995300,NaN,1.008532,0.992476,0.993623
2020-01-06,0.997065,0.970564,NaN,1.000548,0.996727,NaN,0.990241,NaN,0.993101,1.068230,...,1.004231,0.984127,NaN,1.001001,0.923967,0.974148,NaN,1.005120,0.996580,0.992526
2020-01-07,0.993397,0.976236,NaN,0.996894,0.996216,NaN,0.990425,NaN,0.962479,1.066098,...,0.989657,0.984127,NaN,1.004004,0.945454,0.971798,NaN,1.006826,0.967852,0.989643
2020-01-08,0.989362,0.992709,NaN,1.002558,0.999489,NaN,0.995949,NaN,0.935004,0.982942,...,0.991067,1.015873,NaN,1.004004,0.950413,0.967097,NaN,1.006826,0.941861,0.993095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-07,1.259090,1.821766,0.202832,1.134360,1.242030,0.073716,1.268203,1.022312,1.027596,1.611940,...,1.018092,0.873016,0.265990,0.841365,0.669421,0.702703,1.948549,1.136384,0.343365,1.064245
2022-09-08,1.262720,1.890359,0.171704,1.133779,1.254682,0.077439,1.286874,1.022312,1.047930,1.656716,...,1.019169,0.888889,0.265990,0.835586,0.659504,0.707403,1.895037,1.124165,0.348153,1.064783
2022-09-09,1.298613,1.930597,0.156642,1.139096,1.276690,0.078183,1.297093,1.022312,1.062455,1.692964,...,1.027783,0.873016,0.268020,0.836742,0.674380,0.735605,1.894055,1.138421,0.374829,1.073552
2022-09-12,1.311922,1.944910,0.151622,1.133466,1.287960,0.083395,1.295914,1.022312,1.064633,1.752665,...,1.036936,0.920635,0.275127,0.841365,0.692562,0.781434,2.017772,1.142494,0.372093,1.074628
2022-09-13,1.270382,1.906562,0.149613,1.125871,1.237671,0.079672,1.272134,1.021298,1.025781,1.665245,...,0.998710,0.904762,0.256853,0.833275,0.669421,0.727380,1.946095,1.109909,0.370041,1.055890

In [9]:
train_df=data_df.iloc[:-68]
test_df=data_df.iloc[-68:]

test_df

,GRES,ONTO,NOGN,COWNL,SIZE,HEPS,DXJ,FRBN,REX,PR,...,GOOD,IGC,OPFI,JPS,CNDT,APYX,KRBN,GCV,FARM,WBIG
2022-06-07,1.452672,2.259519,1.006125,1.133254,1.303582,0.074460,1.295589,1.006085,1.149843,2.040512,...,1.081622,0.666667,0.322843,0.882971,0.912397,0.853114,2.352104,1.213772,0.350889,1.125753
2022-06-08,1.437347,2.178774,1.006125,1.120102,1.287057,0.074460,1.291705,1.006085,1.133866,1.997868,...,1.062240,1.301587,0.354315,0.886438,0.890909,0.836663,2.356522,1.211736,0.346785,1.116860
2022-06-09,1.403873,2.113962,1.005121,1.109142,1.253619,0.070737,1.283938,1.006085,1.151779,2.017058,...,1.040166,0.984127,0.332995,0.878348,0.867769,0.881316,2.339339,1.199516,0.350205,1.106767
2022-06-10,1.378062,2.019984,1.006125,1.098182,1.216088,0.067014,1.260830,1.006085,1.120673,1.972281,...,1.037474,0.825397,0.338071,0.862168,0.819835,0.733255,2.353577,1.230064,0.344049,1.097791
2022-06-13,1.324021,1.941399,1.004117,1.097174,1.162290,0.057930,1.237140,1.014199,1.035706,1.846482,...,0.998710,0.761905,0.315736,0.835586,0.737190,0.730905,2.291227,1.124165,0.329685,1.077440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-07,1.259090,1.821766,0.202832,1.134360,1.242030,0.073716,1.268203,1.022312,1.027596,1.611940,...,1.018092,0.873016,0.265990,0.841365,0.669421,0.702703,1.948549,1.136384,0.343365,1.064245
2022-09-08,1.262720,1.890359,0.171704,1.133779,1.254682,0.077439,1.286874,1.022312,1.047930,1.656716,...,1.019169,0.888889,0.265990,0.835586,0.659504,0.707403,1.895037,1.124165,0.348153,1.064783
2022-09-09,1.298613,1.930597,0.156642,1.139096,1.276690,0.078183,1.297093,1.022312,1.062455,1.692964,...,1.027783,0.873016,0.268020,0.836742,0.674380,0.735605,1.894055,1.138421,0.374829,1.073552
2022-09-12,1.311922,1.944910,0.151622,1.133466,1.287960,0.083395,1.295914,1.022312,1.064633,1.752665,...,1.036936,0.920635,0.275127,0.841365,0.692562,0.781434,2.017772,1.142494,0.372093,1.074628
2022-09-13,1.270382,1.906562,0.149613,1.125871,1.237671,0.079672,1.272134,1.021298,1.025781,1.665245,...,0.998710,0.904762,0.256853,0.833275,0.669421,0.727380,1.946095,1.109909,0.370041,1.055890

In [10]:
ticker_list=data_df.columns
print(f"{len(symbols)-len(ticker_list)} stocks were droped")

1644 stocks were droped

# preprocessing 


1. ticker: this is also used to select which stocks come to the model

2. price: we take the ratio: (importantly we did drop some potentialy important indicators)

3. date: the day and month are floating point numbers. while year and day of the week are embedings.

In [184]:
look=layers.StringLookup(vocabulary=ticker_list,num_oov_indices=0)
inv_look=layers.StringLookup(vocabulary=ticker_list,invert=True,num_oov_indices=0)
tick_embed=layers.Embedding(len(ticker_list)+1,512,embeddings_constraint= tf.keras.constraints.unit_norm)

In [185]:
dataset=tf.data.Dataset.from_tensor_slices(ticker_list)
exmple=dataset.batch(17).take(1).get_single_element()
exmple

<tf.Tensor: shape=(17,), dtype=string, numpy=
array([b'GRES', b'ONTO', b'NOGN', b'COWNL', b'SIZE', b'HEPS', b'DXJ',
       b'FRBN', b'REX', b'PR', b'MDWD', b'LEVI', b'HMC', b'AIKI', b'SPUC',
       b'FANG', b'SAVN'], dtype=object)>

In [186]:
#data_df[exmple.numpy().astype('U13')]

In [187]:
def thread_distribute(l,f,n=1):
    if(n==0):
        return f(l)
    
    with concurrent.futures.ThreadPoolExecutor() as executor: 
        l=[executor.submit(lambda x: thread_distribute(x,f,n-1),x) for x in l]
        l= [x.result() for x in l]
    return l

thread_distribute([range(5) for i in range(2)],lambda x: range(x),2)

[[range(0, 0), range(0, 1), range(0, 2), range(0, 3), range(0, 4)],
 [range(0, 0), range(0, 1), range(0, 2), range(0, 3), range(0, 4)]]

In [188]:
def choose_stocks(x,data_df=train_df):
    a=tick_embed(look(ticker_list))
    b=tick_embed(look(x))

    b=b@tf.transpose(a)
    b=tf.nn.top_k(b,3)


    tickers=inv_look([list(x) for x in b[1].numpy()]).numpy().astype('U13')
    
    return [[data_df[x] for x in sub] for sub in tickers]
    #return thread_distribute(tickers,lambda x: data_df[x],2)

a=choose_stocks(exmple)

pd.DataFrame(a[0]).transpose().dropna()

                GRES       OST      LYTS
2022-04-27  1.369593  1.000000  1.000119
2022-04-28  1.392581  0.115986  1.195014
2022-04-29  1.368383  0.093293  1.229206
2022-05-02  1.365963  0.076147  1.309557
2022-05-03  1.386128  0.119768  1.282203
2022-05-04  1.412746  0.095814  1.282203
2022-05-05  1.390968  0.083207  1.275365
2022-05-06  1.388144  0.076399  1.201852
2022-05-09  1.325230  0.066062  1.225786
2022-05-10  1.323214  0.063540  1.205271
2022-05-11  1.331280  0.055976  1.189885
2022-05-12  1.320391  0.054463  1.198433
2022-05-13  1.349428  0.062027  1.184756
2022-05-16  1.363544  0.059002  1.186466
2022-05-17  1.387741  0.058497  1.181337
2022-05-18  1.341362  0.065280  1.186466
2022-05-19  1.353058  0.058875  1.147145
2022-05-20  1.354671  0.054967  1.153983
2022-05-23  1.384515  0.052194  1.145435
2022-05-24  1.387338  0.046646  1.080470
2022-05-25  1.403470  0.048159  1.109533
2022-05-26  1.407099  0.049672  1.124920
2022-05-27  1.423231  0.053454  1.157402
2022-05-31  1.416375  0.051437  1.142016
2022-06-01  1.414359  0.051942  1.188175
2022-06-02  1.434927  0.051689  1.186466
2022-06-03  1.429281  0.050429  1.171079
2022-06-06  1.432507  0.049420  1.164241

In [189]:
a[0][0].index

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2022-05-23', '2022-05-24', '2022-05-25', '2022-05-26',
               '2022-05-27', '2022-05-31', '2022-06-01', '2022-06-02',
               '2022-06-03', '2022-06-06'],
              dtype='datetime64[ns]', length=612, freq=None)

In [190]:
def time_encode(a):
    #a=a.index
    return (a.day_of_week,a.day/30,a.month/12,(a.year-2020))
    
time_encode(data_df.index[0])

(3, 0.06666666666666667, 0.08333333333333333, 0)

In [191]:
def time_tensors(a):
    x=thread_distribute(a,lambda x:time_encode(x.index),2)
    x=[thread_distribute(x,lambda x: x[i],2) for i in range(4)]
    return [tf.constant(x) for x in x]

time_tensors(a)

[<tf.Tensor: shape=(17, 3, 612), dtype=int32, numpy=
 array([[[3, 4, 0, ..., 3, 4, 0],
         [3, 4, 0, ..., 3, 4, 0],
         [3, 4, 0, ..., 3, 4, 0]],

        [[3, 4, 0, ..., 3, 4, 0],
         [3, 4, 0, ..., 3, 4, 0],
         [3, 4, 0, ..., 3, 4, 0]],

        [[3, 4, 0, ..., 3, 4, 0],
         [3, 4, 0, ..., 3, 4, 0],
         [3, 4, 0, ..., 3, 4, 0]],

        ...,

        [[3, 4, 0, ..., 3, 4, 0],
         [3, 4, 0, ..., 3, 4, 0],
         [3, 4, 0, ..., 3, 4, 0]],

        [[3, 4, 0, ..., 3, 4, 0],
         [3, 4, 0, ..., 3, 4, 0],
         [3, 4, 0, ..., 3, 4, 0]],

        [[3, 4, 0, ..., 3, 4, 0],
         [3, 4, 0, ..., 3, 4, 0],
         [3, 4, 0, ..., 3, 4, 0]]])>,
 <tf.Tensor: shape=(17, 3, 612), dtype=float64, numpy=
 array([[[0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ],
         [0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ],
         [0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ]],

        [[0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ],
         [0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ],
         [0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ]],

        [[0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ],
         [0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ],
         [0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ]],

        ...,

        [[0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ],
         [0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ],
         [0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ]],

        [[0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ],
         [0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ],
         [0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ]],

        [[0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ],
         [0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ],
         [0.06666667, 0.1       , 0.2       , ..., 0.06666667,
          0.1       , 0.2       ]]])>,
 <tf.Tensor: shape=(17, 3, 612), dtype=float64, numpy=
 array([[[0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ],
         [0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ],
         [0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ]],

        [[0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ],
         [0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ],
         [0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ]],

        [[0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ],
         [0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ],
         [0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ]],

        ...,

        [[0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ],
         [0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ],
         [0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ]],

        [[0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ],
         [0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ],
         [0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ]],

        [[0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ],
         [0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ],
         [0.08333333, 0.08333333, 0.08333333, ..., 0.5       ,
          0.5       , 0.5       ]]])>,
 <tf.Tensor: shape=(17, 3, 612), dtype=int32, numpy=
 array([[[0, 0, 0, ..., 2, 2, 2],
         [0, 0, 0, ..., 2, 2, 2],
         [0, 0, 0, ..., 2, 2, 2]],

        [[0, 0, 0, ..., 2, 2, 2],
         [0, 0, 0, ..., 2, 2, 2],
         [0, 0, 0, ..., 2, 2, 2]],

        [[0, 0, 0, ..., 2, 2, 2],
         [0, 0, 0, ..., 2, 2, 2],
         [0, 0, 0, ..., 2, 2, 2]],

        ...,

        [[0, 0, 0, ..., 2, 2, 2],
         [0, 0, 0, ..., 2, 2, 2],
         [0, 0, 0, ..., 2, 2, 2]],

        [[0, 0, 0, ..., 2, 2, 2],
         [0, 0, 0, ..., 2, 2, 2],
         [0, 0, 0, ..., 2, 2, 2]],

        [[0, 0, 0, ..., 2, 2, 2],
         [0, 0, 0, ..., 2, 2, 2],
         [0, 0, 0, ..., 2, 2, 2]]])>]

# time handeling 

problems with the data in curent time format:

1. there are null entries especialy from before a company was made 
2. the time diffrence between entries isnt clean

In [192]:
mask=np.logical_not(data_df.isna().to_numpy())
mask

array([[ True,  True, False, ...,  True,  True,  True],
       [ True,  True, False, ...,  True,  True,  True],
       [ True,  True, False, ...,  True,  True,  True],
       ...,
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True]])

In [193]:
def choose_stocks_df(x,data_df=train_df):
    a=tick_embed(look(ticker_list))
    b=tick_embed(look(x))

    b=b@tf.transpose(a)
    b=tf.nn.top_k(b,3)


    tickers=inv_look([list(x) for x in b[1].numpy()]).numpy().astype('U13')
    
    
    return [pd.DataFrame([data_df[x] for x in sub]).transpose().dropna() for sub in tickers]

v=choose_stocks_df(exmple)
v[0]

                GRES       OST      LYTS
2022-04-27  1.369593  1.000000  1.000119
2022-04-28  1.392581  0.115986  1.195014
2022-04-29  1.368383  0.093293  1.229206
2022-05-02  1.365963  0.076147  1.309557
2022-05-03  1.386128  0.119768  1.282203
2022-05-04  1.412746  0.095814  1.282203
2022-05-05  1.390968  0.083207  1.275365
2022-05-06  1.388144  0.076399  1.201852
2022-05-09  1.325230  0.066062  1.225786
2022-05-10  1.323214  0.063540  1.205271
2022-05-11  1.331280  0.055976  1.189885
2022-05-12  1.320391  0.054463  1.198433
2022-05-13  1.349428  0.062027  1.184756
2022-05-16  1.363544  0.059002  1.186466
2022-05-17  1.387741  0.058497  1.181337
2022-05-18  1.341362  0.065280  1.186466
2022-05-19  1.353058  0.058875  1.147145
2022-05-20  1.354671  0.054967  1.153983
2022-05-23  1.384515  0.052194  1.145435
2022-05-24  1.387338  0.046646  1.080470
2022-05-25  1.403470  0.048159  1.109533
2022-05-26  1.407099  0.049672  1.124920
2022-05-27  1.423231  0.053454  1.157402
2022-05-31  1.416375  0.051437  1.142016
2022-06-01  1.414359  0.051942  1.188175
2022-06-02  1.434927  0.051689  1.186466
2022-06-03  1.429281  0.050429  1.171079
2022-06-06  1.432507  0.049420  1.164241

In [194]:
# need to add the tickers strings/ints
def get_xs(v):
    t=[x.index for x in v]
    t=thread_distribute(t,time_encode,2)
    #t=[[x[i] for x in t] for i in range(4)]
    t=[thread_distribute(t,lambda x: x[i],2) for i in range(4)]
    #thread_distribute(t,len,2)
    t=[tf.ragged.constant(x) for x in t]
    
    x=thread_distribute(v,lambda x: x.to_numpy(),1)
    vals=tf.concat(x,axis=0)
    lengths=[len(s) for s in x]
    x=tf.RaggedTensor.from_row_lengths(vals,lengths)
    #[x.shape for x in x]
    
    "padding"
    x=(x+1).to_tensor()-1
    t=[(x+1).to_tensor()-1 for x in t] 
    
    x=tf.transpose(x,[2,0,1])
    t.extend(x) 
    
    tickers=tf.constant([x.transpose().index for x in v])
    t.append(tickers)
    return t

xs=get_xs(v)
[(x.shape,x.dtype) for x in xs]

[(TensorShape([17, 612]), tf.int32),
 (TensorShape([17, 612]), tf.float32),
 (TensorShape([17, 612]), tf.float32),
 (TensorShape([17, 612]), tf.int32),
 (TensorShape([17, 612]), tf.float64),
 (TensorShape([17, 612]), tf.float64),
 (TensorShape([17, 612]), tf.float64),
 (TensorShape([17, 3]), tf.string)]

In [195]:
#[len(x) for x in v]

In [196]:
def sample_seq(x,LEN=100):
    l=len(x)
    if(l<LEN):
        return x 
    
    start=np.random.randint(l-LEN)
    return x.iloc[start:start+LEN]
sample_seq(v[-1]) 
sample_seq(v[0])

                GRES       OST      LYTS
2022-04-27  1.369593  1.000000  1.000119
2022-04-28  1.392581  0.115986  1.195014
2022-04-29  1.368383  0.093293  1.229206
2022-05-02  1.365963  0.076147  1.309557
2022-05-03  1.386128  0.119768  1.282203
2022-05-04  1.412746  0.095814  1.282203
2022-05-05  1.390968  0.083207  1.275365
2022-05-06  1.388144  0.076399  1.201852
2022-05-09  1.325230  0.066062  1.225786
2022-05-10  1.323214  0.063540  1.205271
2022-05-11  1.331280  0.055976  1.189885
2022-05-12  1.320391  0.054463  1.198433
2022-05-13  1.349428  0.062027  1.184756
2022-05-16  1.363544  0.059002  1.186466
2022-05-17  1.387741  0.058497  1.181337
2022-05-18  1.341362  0.065280  1.186466
2022-05-19  1.353058  0.058875  1.147145
2022-05-20  1.354671  0.054967  1.153983
2022-05-23  1.384515  0.052194  1.145435
2022-05-24  1.387338  0.046646  1.080470
2022-05-25  1.403470  0.048159  1.109533
2022-05-26  1.407099  0.049672  1.124920
2022-05-27  1.423231  0.053454  1.157402
2022-05-31  1.416375  0.051437  1.142016
2022-06-01  1.414359  0.051942  1.188175
2022-06-02  1.434927  0.051689  1.186466
2022-06-03  1.429281  0.050429  1.171079
2022-06-06  1.432507  0.049420  1.164241

In [197]:
base=[sample_seq(x) for x in v]
y=[s.iloc[1:,0] for s in base]
x=[s[:-1] for s in base]
x=get_xs(x)

In [198]:
def get_numbers(tickers):
    v=choose_stocks_df(tickers)
    base=[sample_seq(x) for x in v]
    
    y=[s.iloc[1:,0].to_numpy() for s in base]
    y=tf.ragged.constant(y)
    y=(y+1).to_tensor()-1
    
    x=[s[:-1] for s in base]
    x=get_xs(x)
    #x.append(tickers)
    x.append(y)
    return x
t=time.time()
n=get_numbers(exmple)
print(time.time()-t)

0.9607014656066895

In [199]:
specs=[tf.TensorSpec.from_tensor(x) for x in n]
s=[list(x.shape) for x in specs]
for x in s:
    x[0]=None
specs=[tf.TensorSpec(s[i],specs[i].dtype) for i in range(len(specs))]
specs

[TensorSpec(shape=(None, 99), dtype=tf.int32, name=None),
 TensorSpec(shape=(None, 99), dtype=tf.float32, name=None),
 TensorSpec(shape=(None, 99), dtype=tf.float32, name=None),
 TensorSpec(shape=(None, 99), dtype=tf.int32, name=None),
 TensorSpec(shape=(None, 99), dtype=tf.float64, name=None),
 TensorSpec(shape=(None, 99), dtype=tf.float64, name=None),
 TensorSpec(shape=(None, 99), dtype=tf.float64, name=None),
 TensorSpec(shape=(None, 3), dtype=tf.string, name=None),
 TensorSpec(shape=(None, 99), dtype=tf.float64, name=None)]

In [200]:
def gather_x(*args):
    return args[:-1]

def gather_y(*args):
    return args[-1]

gather_x(1,2,3,4),gather_y(1,2,3,4)

((1, 2, 3), 4)

# train dataset 
because of the need to use the dataset as a refrence type in the pandas df we are forcing tensorflow to run the whole thing eagerly. 

it shouldnt be a major issue since most the heavy lifting is done in pandas which is optimized c code

In [201]:
#need to do training and test set (test set should look diffrent)
train_dataset=dataset.shuffle(1000).batch(32).map(lambda y: tf.py_function(get_numbers,inp=[y],Tout=specs))

dataset_x=train_dataset.map(gather_x)
dataset_y=train_dataset.map(gather_y)
train_dataset=tf.data.Dataset.zip((dataset_x,dataset_y))

x=train_dataset.take(1).get_single_element()

In [202]:
[tf.TensorSpec.from_tensor(x) for x in x[0]]

[TensorSpec(shape=(32, 99), dtype=tf.int32, name=None),
 TensorSpec(shape=(32, 99), dtype=tf.float32, name=None),
 TensorSpec(shape=(32, 99), dtype=tf.float32, name=None),
 TensorSpec(shape=(32, 99), dtype=tf.int32, name=None),
 TensorSpec(shape=(32, 99), dtype=tf.float64, name=None),
 TensorSpec(shape=(32, 99), dtype=tf.float64, name=None),
 TensorSpec(shape=(32, 99), dtype=tf.float64, name=None),
 TensorSpec(shape=(32, 3), dtype=tf.string, name=None)]

In [203]:
def cut23(x):
    return {"time":x[:4],"prices":x[4:7],"tickers":x[7]}

cut23(x[0])

{'time': (<tf.Tensor: shape=(32, 99), dtype=int32, numpy=
  array([[ 2,  3,  4, ..., -1, -1, -1],
         [ 3,  4,  0, ..., -1, -1, -1],
         [ 4,  0,  1, ..., -1, -1, -1],
         ...,
         [ 1,  2,  4, ...,  1,  2,  3],
         [ 1,  2,  3, ...,  4,  0,  1],
         [ 4,  0,  1, ...,  4,  0,  1]])>,
  <tf.Tensor: shape=(32, 99), dtype=float32, numpy=
  array([[ 0.29999995,  0.33333337,  0.36666667, ..., -1.        ,
          -1.        , -1.        ],
         [ 0.33333337,  0.36666667,  0.4666667 , ..., -1.        ,
          -1.        , -1.        ],
         [ 0.36666667,  0.4666667 ,  0.5       , ..., -1.        ,
          -1.        , -1.        ],
         ...,
         [ 0.76666665,  0.79999995,  0.8666667 , ...,  0.39999998,
           0.4333334 ,  0.4666667 ],
         [ 0.10000002,  0.13333333,  0.16666663, ...,  0.5666666 ,
           0.66666675,  0.70000005],
         [ 0.33333337,  0.4333334 ,  0.4666667 , ...,  0.9666667 ,
           0.06666672,  0.10000002]], dtype=float32)>,
  <tf.Tensor: shape=(32, 99), dtype=float32, numpy=
  array([[ 0.16666663,  0.16666663,  0.16666663, ..., -1.        ,
          -1.        , -1.        ],
         [ 0.16666663,  0.16666663,  0.16666663, ..., -1.        ,
          -1.        , -1.        ],
         [ 0.16666663,  0.16666663,  0.16666663, ..., -1.        ,
          -1.        , -1.        ],
         ...,
         [ 0.91666675,  0.91666675,  0.91666675, ...,  0.33333337,
           0.33333337,  0.33333337],
         [ 0.66666675,  0.66666675,  0.66666675, ...,  1.        ,
           1.        ,  1.        ],
         [ 1.        ,  1.        ,  1.        , ...,  0.33333337,
           0.41666663,  0.41666663]], dtype=float32)>,
  <tf.Tensor: shape=(32, 99), dtype=int32, numpy=
  array([[ 2,  2,  2, ..., -1, -1, -1],
         [ 2,  2,  2, ..., -1, -1, -1],
         [ 2,  2,  2, ..., -1, -1, -1],
         ...,
         [ 1,  1,  1, ...,  2,  2,  2],
         [ 1,  1,  1, ...,  1,  1,  1],
         [ 1,  1,  1, ...,  2,  2,  2]])>),
 'prices': (<tf.Tensor: shape=(32, 99), dtype=float64, numpy=
  array([[ 1.        ,  1.00507606,  1.00507606, ..., -1.        ,
          -1.        , -1.        ],
         [ 1.        ,  1.0064356 ,  1.00940587, ..., -1.        ,
          -1.        , -1.        ],
         [ 0.75238096,  0.62857142,  0.66666667, ..., -1.        ,
          -1.        , -1.        ],
         ...,
         [ 1.17991604,  1.18354644,  1.18200356, ...,  1.20916538,
           1.19359672,  1.19359672],
         [ 0.98748727,  0.98168868,  0.98474063, ...,  1.00406917,
           1.00406917,  1.00508649],
         [ 1.00412371,  1.00412371,  1.00412371, ...,  1.01752578,
           1.01752578,  1.01649483]])>,
  <tf.Tensor: shape=(32, 99), dtype=float64, numpy=
  array([[ 0.94069261,  0.94424241,  0.94495238, ..., -1.        ,
          -1.        , -1.        ],
         [ 1.4158045 ,  1.39032921,  1.38233116, ..., -1.        ,
          -1.        , -1.        ],
         [ 0.59120002,  0.57519999,  0.596     , ..., -1.        ,
          -1.        , -1.        ],
         ...,
         [ 0.74703256,  0.73822089,  0.70101611, ...,  1.63015617,
           1.7123983 ,  1.73002164],
         [ 0.42722223,  0.42666668,  0.44000001, ...,  0.23333333,
           0.22333334,  0.22333334],
         [ 0.88206061,  0.81337554,  0.78942612, ...,  0.58743789,
           0.60506104,  0.597831  ]])>,
  <tf.Tensor: shape=(32, 99), dtype=float64, numpy=
  array([[ 0.96752029,  0.95393712,  0.9433902 , ..., -1.        ,
          -1.        , -1.        ],
         [ 0.76436784,  0.83908048,  0.8448276 , ..., -1.        ,
          -1.        , -1.        ],
         [ 1.        ,  1.00406091,  1.00507606, ..., -1.        ,
          -1.        , -1.        ],
         ...,
         [ 0.68374997,  0.70937502,  0.70437503, ...,  0.62812501,
           0.645625  ,  0.62812501],
         [ 3.1562498 ,  3.12499988,  3.18749991, ...,  2.68020818,
           2.68958319,  2.61041651],
         [ 1.34946058,  1.35988647,  1.34007724, ...,  1.31401246,
           1.27821674,  1.28064945]])>),
 'tickers': <tf.Tensor: shape=(32, 3), dtype=string, numpy=
 array([[b'ADRT.U', b'GHLD', b'RAYD'],
        [b'HGER', b'NULC', b'AKTX'],
        [b'ALLR', b'CETX', b'AOGO'],
        [b'ANEB', b'IBDD', b'IHD'],
        [b'ORGS', b'ROSE', b'MAAX'],
        [b'PSNL', b'PRTH', b'NR'],
        [b'CLM', b'SGOV', b'EMGC'],
        [b'JHEM', b'MTB', b'STZ.B'],
        [b'IQSI', b'NJAN', b'IMTE'],
        [b'CXW', b'BVS', b'TYDE'],
        [b'ECC', b'PRLH', b'HTGC'],
        [b'IHD', b'UTRN', b'ACHV'],
        [b'AKA', b'CLOE', b'ESHY'],
        [b'EMHY', b'LABP', b'SISI'],
        [b'ATCOL', b'IHE', b'DVND'],
        [b'GAINN', b'ARYE', b'DCP'],
        [b'PRDO', b'LESL', b'GSQD'],
        [b'DGII', b'JD', b'ATRO'],
        [b'SIFI', b'FIHD', b'LOPP'],
        [b'ACON', b'ZUO', b'URNM'],
        [b'IRAAU', b'IMGN', b'E'],
        [b'IQV', b'SHIP', b'LHAA'],
        [b'PAG', b'AEPPZ', b'IWN'],
        [b'MDWD', b'IAG', b'CBNK'],
        [b'PTRB', b'CLX', b'SITC'],
        [b'BOXD', b'CGABL', b'BNNR'],
        [b'FHB', b'TGT', b'OSS'],
        [b'ISUN', b'RNLC', b'LITE'],
        [b'SPB', b'FLNG', b'DGHI'],
        [b'TANNZ', b'PTEN', b'NABL'],
        [b'LLAP', b'BRQS', b'AADI'],
        [b'EDNC', b'FWRG', b'NURE']], dtype=object)>}

# validation dataset 
on infrance the best results would probably be achived by runing on every time entry with at least some memory of the past

that means there would need to be some precomputation which we can make diffrent for timesetep. 

this is rediclously slow and combersom to write so our validation is just gona look mostly like the training. 
after choosing the stocks we would want to work with we are going to think of test behivior 

we may want to just train a new model from scratch only on that subset.

In [204]:
def get_val_numbers(tickers):
    base=choose_stocks_df(tickers,test_df)
    
    y=[s.iloc[1:,0].to_numpy() for s in base]
    y=tf.ragged.constant(y)
    y=(y+1).to_tensor()-1
    
    x=[s[:-1] for s in base]
    x=get_xs(x)
    #x.append(tickers)
    x.append(y)
    return x
t=time.time()
n=get_val_numbers(exmple)
print(time.time()-t)

0.7759685516357422

In [205]:
#need to do training and test set (test set should look diffrent)
val_dataset=dataset.shuffle(1000).batch(32).map(lambda y: tf.py_function(get_val_numbers,inp=[y],Tout=specs))

dataset_x=val_dataset.map(gather_x)
dataset_y=val_dataset.map(gather_y)
val_dataset=tf.data.Dataset.zip((dataset_x,dataset_y))

x=val_dataset.take(1).get_single_element()

In [206]:
[tf.TensorSpec.from_tensor(x) for x in x[0]]

[TensorSpec(shape=(32, 67), dtype=tf.int32, name=None),
 TensorSpec(shape=(32, 67), dtype=tf.float32, name=None),
 TensorSpec(shape=(32, 67), dtype=tf.float32, name=None),
 TensorSpec(shape=(32, 67), dtype=tf.int32, name=None),
 TensorSpec(shape=(32, 67), dtype=tf.float64, name=None),
 TensorSpec(shape=(32, 67), dtype=tf.float64, name=None),
 TensorSpec(shape=(32, 67), dtype=tf.float64, name=None),
 TensorSpec(shape=(32, 3), dtype=tf.string, name=None)]

# the model

**the dataset is dependent on the model!!!** this means we have some considerations on how it should look like:

* there has to be an attention mechanisem on embeding space. (using only the sampling embedings dot product) 
* embedings convergnce and stabilety greatly effects the models training. (we may want to consider reverse regularization)
*  at least some part of the model should be seprable by stock, in order to reduce noise from data sampeling
* it would defintly help if we add residual conections to the embedings to alow gradients to flow to the embedings

*side note: the padding used is -1, seems like it should propgate to the loss*

In [207]:
#setting up the inputs
inputs=[layers.Input([None,],dtype=x.dtype) for x in specs[:-2]]
inputs.append(layers.Input(specs[-2].shape[1:],dtype=specs[-2].dtype,name="tickers"))

#time encoding
time_depndent=[tf.expand_dims(x,-1) for x in inputs[:-1]] 
time_depndent=[layers.Masking(-1)(x) for x in time_depndent] 


day_embeding=layers.Embedding(7,7)(time_depndent[0])
year_embeding=layers.Embedding(3,5)(time_depndent[3]) 

day_embeding=layers.TimeDistributed(layers.Reshape([7]))(day_embeding)
year_embeding=layers.TimeDistributed(layers.Reshape([5]))(year_embeding)

t=tf.concat(time_depndent[1:3],-1)
t=layers.Dense(20)(t) 

time_encode=tf.concat([day_embeding,t,year_embeding],-1)
time_encode

In [237]:
tickers=look(inputs[-1])
tickers=tick_embed(tickers)
origin=tf.expand_dims(tickers[:,0],-2)
origin=layers.Permute([2,1])(origin)
attention=tickers@origin
attention=tf.nn.softmax(attention)
attention

In [241]:
"need to add stock conditioning"
prices=time_depndent[4:7]
s=[tf.concat([time_encode,x],-1) for x in prices]

stock_layer=layers.LSTM(16,return_sequences=True)
s=[stock_layer(x) for x in s]
stock_layer=layers.GRU(16,return_sequences=True)
s=[stock_layer(x) for x in s]
s

[<KerasTensor: shape=(None, None, 16) dtype=float32 (created by layer 'gru_11')>,
 <KerasTensor: shape=(None, None, 16) dtype=float32 (created by layer 'gru_11')>,
 <KerasTensor: shape=(None, None, 16) dtype=float32 (created by layer 'gru_11')>]

In [232]:
attention*prices

In [234]:
price_layer=layers.LSTM(16,return_sequences=True) 
prices=[price_layer(x) for x in prices]

price_layer=layers.GRU(16,return_sequences=True) 
prices=[price_layer(x) for x in prices]

prices=[tf.expand_dims(x,1) for x in prices]
prices=tf.concat(prices,1)
prices

del(price_layer)